@import "tailwindcss";

@font-face {
  font-family: 'font1';
  src: url(/fonts/6842ce9bd8d1b6b1e2bb3d2e_NBArchitekProNeue-Regular.ttf);
}
@font-face {
  font-family: 'font2';
  src: url(/fonts/6867b18d0019bbded31f2cf3_magnetik-regular.woff2);
}
@font-face {
  font-family: 'font3';
  src: url(/fonts/6867b77e6b37681112f1afa7_Roobert-Regular.woff2);
}

.hide-scrollbar::-webkit-scrollbar { height: 4px; }
.hide-scrollbar::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.3); border-radius: 4px; }